VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PROJECT_ID=

VITE_OWNER_SUPABASE_URL=
VITE_OWNER_SUPABASE_PUBLISHABLE_KEY=
VITE_OWNER_SUPABASE_ANON_KEY=

VITE_TENANT_BASE_DOMAIN=gppis.com.br
VITE_OWNER_DOMAIN=owner.gppis.com.br
VITE_OWNER_MASTER_EMAIL=
VITE_OWNER_PREVIEW=false
